<nav class="navbar navbar-inverse">

	<div class="navbar-header">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList">
			<span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#/">DJ Website</a>
	</div>
    <div class="collapse navbar-collapse" id="myCollapsingList">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/" data-toggle="collapse" data-target="#myCollapsingList">Home</a></li>
			<li><a href="#/mixes/" data-toggle="collapse" data-target="#myCollapsingList">Mixes</a></li>
			<li><a href="#/gigs/" data-toggle="collapse" data-target="#myCollapsingList">Gigs</a></li>
			<li><a href="#/shop/" data-toggle="collapse" data-target="#myCollapsingList">Shop</a></li>
			<li><a href="#/contact/" data-toggle="collapse" data-target="#myCollapsingList">Contact</a></li>
		</ul>
	</div>

</nav>