<div>
	<!-- Gigs Hero -->
	<div class="jumbotron">
		<div class="container">
			<h1>Gigs</h1>
			<p>Check out the latest gigs here</p>
		</div>
	</div>

	<!-- Gig listing -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="listings">
					<div ng-repeat="gig in gigList | limitTo : gigLimit">
							<div class="gigBox">
								<h3>{{gig.date}} - {{gig.city}}</h3>
								<p>{{gig.club}}, {{gig.city}}, {{gig.country}} - <a href="{{gig.fbEvent}}"><span class="gigLink">Event page </span><i class="fa fa-facebook-official" aria-hidden="true"></i></a> - <a href="{{gig.ticketUrl}}"><span class="gigLink">Tickets </span><i class="fa fa-ticket" aria-hidden="true"></i></a></p>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

</div>

