<!-- Shop Hero -->
	<div class="jumbotron">
		<div class="container">
			<h1>{{title}}</h1>
			<p>Lorem ipsum dolor...</p>
		</div>
	</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="container-prod left">
				<div class="prod-img-container">
					<img class="prod-img" src="{{shopProd.Rod.img1}}">
				</div>
				<div class="prod-specs">
					<h2>{{shopProd.Rod.title}}</h2>
					<ul>
						<li>{{shopProd.Rod.description}}</li>
						<li>{{shopProd.Rod.price}}</li>
						<li>{{shopProd.Rod.colour}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="container-prod right">
				<div class="prod-img-container">
					<img class="prod-img" src="{{shopProd.PaulRoss.img1}}">
				</div>
				<div class="prod-specs">
					<h2>{{shopProd.PaulRoss.title}}</h2>
					<ul>
						<li>{{shopProd.PaulRoss.description}}</li>
						<li>{{shopProd.PaulRoss.price}}</li>
						<li>{{shopProd.PaulRoss.colour}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="container-prod left">
					<div class="prod-img-container">
						<img class="prod-img" src="{{shopProd.Slipmat.img1}}">
					</div>
					<div class="prod-specs">
						<h2>{{shopProd.Slipmat.title}}</h2>
						<ul>
							<li>{{shopProd.Slipmat.description}}</li>
							<li>{{shopProd.Slipmat.price}}</li>
							<li>{{shopProd.Slipmat.colour}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="container-prod right">
					<div class="prod-img-container">
						<img class="prod-img" src="{{shopProd.Kitten.img1}}">
					</div>
					<div class="prod-specs">
						<h2>{{shopProd.Kitten.title}}</h2>
						<ul>
							<li>{{shopProd.Kitten.description}}</li>
							<li>{{shopProd.Kitten.price}}</li>
							<li>{{shopProd.Kitten.colour}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
